kind: Secret
apiVersion: v1
metadata:
  name: idr-redmine-config-private
# https://github.com/docker-library/redmine/blob/master/3.4/docker-entrypoint.sh
data:
  REDMINE_DB_POSTGRES:
  POSTGRES_ENV_POSTGRES_USER:
  POSTGRES_ENV_POSTGRES_PASSWORD:
  POSTGRES_ENV_POSTGRES_DB:
  GMAIL_USERNAME:
  GMAIL_PASSWORD:
